@font-face {
  font-family: CascadiaMono;
  src: url('./../../assets/fonts/CascadiaMono.woff2');
}
@font-face {
  font-family: ZenKaku;
  src: url('./../../assets/fonts/zenkaku-regular-webfont.woff');
}

body {
  line-height: 1;
  font-family: ZenKaku, sans-serif;
  background: linear-gradient(155deg, var(--darkblue), var(--black-blue));
  color: var(--white);
}

.hidden {
  visibility: hidden;
}

/* SECTION HEADINGS */

.section-heading {
  font-size: clamp(4rem, 8vw, 7rem);
  /* line-height: 5.75rem; */
}

.section-heading,
.work::before,
.about::before,
.contact::before {
  font-family: CascadiaMono, monospace;
}

.contact,
.about,
.work {
  position: relative;
}

.work::before,
.about::before,
.contact::before {
  font-size: clamp(5em, 8vw, 10em);
  opacity: 0.25;
  position: absolute;
  color: var(--blue);
  display: inline-block;
  z-index: -1;
  right: 0;
  top: 0;
}

.container {
  margin: 0 auto 10rem auto;
  max-width: 1000px;
  padding: 0 5%;
}

@media screen and (min-width: 420px) {
  .about,
  .contact,
  #footer {
    margin-top: 4rem;
  }
  
}