/* ABOUT */

.picture {
  width:80%;
  max-width: 230px;
  height: auto;
  margin: 4rem auto;
  border-radius: 50%;
  display: block;
}

.about::before {
  content: 'About';
}

.block-para {
  line-height: 1.35;
  text-align: center;
  font-size: clamp(1.4rem, 4vw, 2rem);
  max-width: 60ch;
  margin: 2rem auto;
}


.about__header .headingShaddow {
  transform: rotate(-90deg) translateX(-50%) translateY(-150%);
}
@media screen and (min-width: 1024px) {
  .about-content {
    max-width: 90%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
  }

  .block-para {
    margin: 6rem;
    text-align: start;
  }
  
}

@media screen and (min-width: 420px) {

  .about__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-210%);
  }

  
}