.backTop {
  /* visibility: visible; */
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: block;
  box-shadow: 0.2em 0.2em var(--gray);
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: var(--gray);
  font-family: Consolas, monospace;
  transition: all 100ms linear;
  cursor: pointer;
  transition: visibility 200ms ease-out;
}



.backTop:hover {
  color: var(--orange);
}