/* FORM */

.contact::before {
  content: 'Contact';
}

.form-input {
  background-color: var(--white);
  border: none;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.25em;
  display: inline-block;
  border: 0.25em solid transparent;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-family: ZenKaku;
}

.form-input:focus,
.form-input:active {
  box-shadow: 0 0 0.25em var(--orange);
  border: 0.25em solid var(--orange);
}

.contact-content {
  padding: 4rem 4rem 0 4rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form,
.email-sec {
  margin: 0 auto;
}

.contact-form::after {
  content: '';
  clear: both;
  display: table;
}

.form__item {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.form__item label {
  margin: 0.7rem 0 0.4rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
}

.form__submit-btn {
  display: block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  margin: 1rem 0;
  background-color: transparent;
  color: var(--white);
  font-size: clamp(1.4rem, 4vw, 2rem);
  float: right;
  transition: all 100ms linear;
  cursor: pointer;
}

.form__submit-btn:hover {
  border-color: var(--orange);
  color: var(--orange);
}

.email-sec p {
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-align: center;
}

.contact__header .headingShaddow {
  transform: rotate(-90deg) translateX(-50%) translateY(-210%);
}

@media screen and (min-width: 420px) {
  .contact__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-260%);
  }
}
