/* FOOTER */

#footer {
  min-height: 25vh;
}

.footer-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  margin-bottom: 0;
}

.bottom-nav {
  list-style: none;
}

.bottom-nav-item {
  display: inline-block;
  padding: 1rem;
  margin: 0 1rem;
}

.bottom-nav-item a {
  display: block;
  padding: 0.85rem 0;
  text-decoration: none;
  color: var(--white);
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-align: center;
  transition: all 100ms linear;
}

.bottom-nav-item a:hover {
  color: var(--orange);
}

.footer-copy {
  padding: 2rem;
  text-align: center;
}

.footer-copy p {
  font-size: 1.6rem;
}

/* FOOTER ABOVE 768px */
@media screen and (min-width: 768px) {

  .footer-top {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .bottom-nav-item a {
    text-align: inherit;
  }
}

.social-link {
  font-size: clamp(1.4rem, 4vw, 2rem);
  padding: 1em;
  margin: 0 1em;
  display: inline-block;
  
}

.social-link-img {
  height: 1em;
  width: 1em;
  fill: var(--white);
}