/* FOOTER */

#footer {
  min-height: 25vh;
}

.footer__top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
}

.bottom-nav {
  list-style: none;
}

.bottom-nav__item a {
  display: block;
  padding: 0.85rem 0;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  transition: all 100ms linear;
}

.bottom-nav__item a:hover {
  color: var(--orange);
}

.call-to-action {
  padding-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
}

.email-link {
  color: var(--white);
  font-weight: 700;
  display: inline-block;
  padding: 1rem 0;
  transition: all 100ms linear;
}

.email-link:hover {
  color: var(--orange);
}

.footer__notice {
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

/* FOOTER ABOVE 768px */
@media screen and (min-width: 768px) {

  .footer__top {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .bottom-nav__item a {
    text-align: inherit;
  }

  .call-to-action {
    text-align: inherit;
    padding-top: 1rem;
  }
}