/* NAV - MOBILE */

.hero__nav {
  position: relative;
  top: 0;
  right: 0;
  height: 8rem;
  width: 100%;
  overflow-x: hidden;
}

/* BURGER BUTTON */

.hero__nav__btn-wrapper {
  /* BUTTON WRAPPER */
  position: absolute;
  cursor: pointer;
  height: 4rem;
  right: 2rem;
  top: 1rem;
  z-index: 10;
}

.menu-open .hero__nav__btn-wrapper {
  z-index: 1;
}

.menu-open .hero__nav {
  height: 100vh;
}

.hero__nav__btn {
  /* BUTTON */
  position: relative;
  top: 50%;
}

.hero__nav__btn,
.hero__nav__btn::before,
.hero__nav__btn::after {
  width: 3rem;
  height: 2px;
  background-color: var(--white);
  transition: all 350ms ease-in-out;
}

.hero__nav__btn::before,
.hero__nav__btn::after {
  position: absolute;
  content: '';
  left: 0;
}

.hero__nav__btn::before {
  top: 1rem;
}

.hero__nav__btn::after {
  bottom: 1rem;
}

/* NAV */

.menu {
  /* MENU */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  list-style: none;
  background: linear-gradient(90deg, var(--black) 0%, var(--darkblue) 3%);
  position: fixed;
  transform: translateX(100%); /* SLIDE IN AND OUT */
  z-index: 9;
  transition: all 250ms ease-in-out;
}

.menu__item {
  padding: 1rem;
}

.menu__link {
  display: block;
  color: var(--white);
  text-decoration: none;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  transition: all 100ms linear;
}

.menu__link:hover {
  /* border-bottom: 0.25rem solid var(--orange); */
  color: var(--orange);
}

.menu-open {
  transform: translateX(0);
}

/* BURGER BUTTON X */

.hero-nav-open .hero__nav__btn::after {
  opacity: 0;
}

.hero-nav-open .hero__nav__btn::before {
  transform: rotate(90deg) translate(-35%);
  background-color: var(--white);
}

.hero-nav-open .hero__nav__btn {
  transform: rotate(45deg);
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  
  /* NAV ABOVE 768px */

  .hero__nav {
    position: static;
    height: auto;
    width: auto;
  }

  .hero__nav__btn-wrapper,
  .hero__nav__btn {
    display: none;
  }

  .menu {
    flex-direction: row;
    height: auto;
    background: transparent;
    position: static;
    transform: translateX(0);
  }

  .menu__item {
    padding: 3rem 2rem;
  }

  .menu__link {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0.25em;
    position: relative;
  }

  .menu__link:hover {
    color: var(--orange);
  }
  
}
