.work {
  display: flex;
  flex-direction: column;
}

.work::before {
  content: 'Work';
}

@media screen and (min-width: 420px) {

  .work__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-180%);
  }
}

#more {
  margin-top: 3rem;
}