/* Styles for the home page */

@import url('./main.css');

body {
  background: linear-gradient(155deg, var(--black), var(--darkblue)) fixed;
  color: var(--white);
}

/* HERO */

.hero {
  position: relative;
  height: 90vh;
}

.hero__text {
  position: relative;
  top: 55%;
}

.hero__text h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.hero__text h2 {
  font-size: 1.5rem;
  margin-bottom: 1.15rem;
}

.hero__text p {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.btn-cta {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--orange);
  padding: 1rem 2rem;
  border: 0.15em solid var(--orange);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 100ms linear;
}

.btn-cta:hover,
.btn-cta:focus {
  color: var(--orange);
  border: 0.15em solid var(--orange);
  box-shadow: inset 0 0 0.5em var(--orange), 0 0 0.5em var(--orange);
  text-shadow: 0 0 0.125em hsl(0, 0%, 50%), 0 0 0.125em currentColor;
}

.btn-cta::after {
  content: '';
  position: absolute;
  background-color: var(--orange);
  top: 150%;
  left: -2em;
  right: -2em;
  height: 0.5em;
  filter: blur(0.5em);
  transform: perspective(1em) rotateX(30deg);
  opacity: 0;
  transition: all 200ms linear;
}

.btn-cta:hover::after,
.btn-cta:focus::after {
  opacity: 1;
}

/* SECTIONS */

.work,
.about,
.contact {
  min-height: 100vh;
}

.section-heading {
  font-size: 4rem;
  line-height: 5.75rem;
}

.headingShaddow {
  color: var(--blue);
  font-size: 8rem;
  opacity: 0.25;
  position: absolute;
  z-index: -1;
}

.work__header .headingShaddow {
  transform: rotate(-90deg) translateX(-50%) translateY(-125%);
}

.about__header .headingShaddow {
  transform: rotate(-90deg) translateX(-50%) translateY(-150%);
}

.contact__header .headingShaddow {
  transform: rotate(-90deg) translateX(-50%) translateY(-210%);
}

/* WORK */

.work {
  display: flex;
  flex-direction: column;
}

/* CARD */

.card {
  margin: 2rem auto;
}
.card-heading {
}
.card-img-container {
  overflow: hidden;
}
.card-img-container:hover .card-image {
  transform: scale(1.1) rotate(-2deg);
}
.card-image {
  width: 100%;
  border-radius: var(--radius);
  transition: all 250ms ease-in;
}
.card-title-section {
}
.card-title {
  margin: 1.5rem auto;
  font-size: 1.75rem;
}
.card-links {
  margin: 1.5rem auto;
  text-align: center;
}
.card-link {
  display: inline-block;
  color: var(--white);
  margin: 0 10%;
  text-decoration: none;
  border-bottom: 1px solid var(--white);
  transition: all 100ms ease-in-out;
}
.card-link:visited {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.card-link:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
}
.card-link:target {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
}

.card-desc {
  margin: 1.5rem auto;
  line-height: 1.25;
}
.card-icons {
  text-align: center;
  margin: 0.5rem;
}
.card-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

@media screen and (min-width: 420px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

#more {
  margin-top: 3rem;
}

/* ABOUT */

.picture {
  max-width: 80%;
  height: auto;
  margin: 2rem auto;
  border-radius: 50%;
  display: block;
}

.block-para {
  line-height: 1.35rem;
}

/* FORM */

input,
textarea {
  background-color: var(--white);
  border: none;
  padding: 0.75rem;
}

.contact-form,
.email-sec {
  margin-top: 2rem;
}

.contact-form::after {
  content: '';
  clear: both;
  display: table;
}

.form__item {
  margin: 0.5rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.form__item label {
  margin: 0.7rem 0 0.4rem;
}

.form__item input,
.form__item textarea {
  display: inline-block;
}

.form__submit-btn {
  display: block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  margin: 1rem 0;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  float: right;
  transition: all 100ms linear;
}

.form__submit-btn:hover {
  border-color: var(--orange);
  color: var(--orange);
}

/* WIDER SCREENS ABOVE 420px */

@media screen and (min-width: 420px) {
  .about,
  .contact,
  #footer {
    margin-top: 4rem;
  }

  .about,
  .contact {
    padding-bottom: 4rem;
  }

  .work__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-180%);
  }

  .about__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-210%);
  }

  .contact__header .headingShaddow {
    transform: rotate(-90deg) translateX(-45%) translateY(-260%);
  }

  /* ABOUT */

  .picture {
    max-width: 230px;
    margin: 3rem auto;
  }

  .block-para {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
  }

  /* FORM */

  .contact-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .email-sec {
    margin-top: 3.2rem;
    font-size: 1.5rem;
  }

  .contact-form {
    width: 60%;
  }
}
