::-webkit-scrollbar 
  width: 0.75em 
  &-track 
    background: $darkblue 
    margin-left: 0.25em 
  &-thumb 
    background: hsla(30, 95%, 50%, 0.7) 
    border-radius: 100vw 
    box-shadow: inset 0 0 0.25em hsl(30, 25%, 55%) 
    transition: all 150ms ease-in 
    &:hover 
      background: $orange 
